.edit-mode {
  &__header {
    background: $color-yellow;
    letter-spacing: 1px;
    opacity: .9;
    padding: 10px 0;
    position: fixed;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  &__grid {
    display: none;
    left: 50%;
    padding: 0 10px;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0;

    @include bp(tablet) {
      display: block;
    }

    @include bp(desktop-lg) {
      padding: 0;
    }

    .grid-col {
      background: $color-yellow;
      height: 100vh;
      max-height: none;
      opacity: .2;
      pointer-events: none;
    }
  }
}