* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.page {
  margin: 0 5px;
  padding: 60px 0;

  @include bp(tablet) {
    margin: 0 10px;
    padding: 80px 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}