/*
 * Global typography styles.
 */

$font-chivo: 'Chivo', 'Helvetica', sans-serif;
$font-spectral: 'Spectral', serif;
$headline-padding: 0 10px;

h1, h2, h3, h4 {
  color: $color-black;
}

.headline {
  font-family: $font-chivo;
  font-size: 2em;
  letter-spacing: -1px;
  margin: 20px 0 5px;
  padding: $headline-padding;

  @include bp(tablet){
    font-size: 2.4em;
  }

  @include bp(desktop-sm){
    font-size: 3em;
  }
}

.subheadline {
  font-family: $font-chivo;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 400;
  margin: 5px 0;
  padding: $headline-padding;
}
