/* line 1, src/components/gallery/gallery.scss */
.component-gallery {
  background: red;
  width: 100%; }

/* line 1, src/components/hero/hero.scss */
.component-hero {
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 500px;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  width: 100%; }
  /* line 10, src/components/hero/hero.scss */
  .component-hero .headline,
  .component-hero .subheadline {
    color: #fff;
    margin: 10px 0;
    text-shadow: 1px 1px 2px #333; }
