/*
 * Global typography styles.
 */
/* line 9, src/sass/_typography.scss */
h1, h2, h3, h4 {
  color: #1E2224; }

/* line 13, src/sass/_typography.scss */
.headline {
  font-family: "Chivo", "Helvetica", sans-serif;
  font-size: 2em;
  letter-spacing: -1px;
  margin: 20px 0 5px;
  padding: 0 10px; }
  @media (min-width: 768px) {
    /* line 13, src/sass/_typography.scss */
    .headline {
      font-size: 2.4em; } }
  @media (min-width: 1024px) {
    /* line 13, src/sass/_typography.scss */
    .headline {
      font-size: 3em; } }

/* line 29, src/sass/_typography.scss */
.subheadline {
  font-family: "Chivo", "Helvetica", sans-serif;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 400;
  margin: 5px 0;
  padding: 0 10px; }

/* line 1, src/sass/_page.scss */
* {
  box-sizing: border-box; }

/* line 5, src/sass/_page.scss */
body {
  background: #fff; }

/* line 9, src/sass/_page.scss */
.page {
  margin: 0 5px;
  padding: 60px 0; }
  @media (min-width: 768px) {
    /* line 9, src/sass/_page.scss */
    .page {
      margin: 0 10px;
      padding: 80px 0; } }

/* line 19, src/sass/_page.scss */
.container {
  margin: 0 auto;
  max-width: 1280px; }

/*
 * Flexbox grid layout.
 */
/* line 13, src/sass/_grid.scss */
.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0; }
  /* line 19, src/sass/_grid.scss */
  .grid img {
    width: 100%; }
    @media (min-width: 768px) {
      /* line 19, src/sass/_grid.scss */
      .grid img {
        height: 40vw;
        left: 50%;
        max-height: 490px;
        position: relative;
        transform: translateX(-50%);
        width: auto; } }
  /* line 32, src/sass/_grid.scss */
  .grid-col {
    margin: 5px 0 0; }
    @media (min-width: 768px) {
      /* line 32, src/sass/_grid.scss */
      .grid-col {
        margin: 5px;
        max-height: 490px;
        overflow: hidden;
        height: 40vw; } }
    /* line 42, src/sass/_grid.scss */
    .grid-col--1 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 42, src/sass/_grid.scss */
        .grid-col--1 {
          -ms-flex-preferred-size: calc(8.33333% - 10px);
              flex-basis: calc(8.33333% - 10px);
          width: calc(8.33333% - 10px); } }
    /* line 50, src/sass/_grid.scss */
    .grid-col--2 {
      -ms-flex-preferred-size: calc(16.66667% - 10px);
          flex-basis: calc(16.66667% - 10px);
      width: calc(16.66667% - 10px); }
      @media (min-width: 768px) {
        /* line 50, src/sass/_grid.scss */
        .grid-col--2 {
          -ms-flex-preferred-size: calc(16.66667% - 10px);
              flex-basis: calc(16.66667% - 10px);
          width: calc(16.66667% - 10px); } }
    /* line 58, src/sass/_grid.scss */
    .grid-col--3 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 58, src/sass/_grid.scss */
        .grid-col--3 {
          -ms-flex-preferred-size: calc(25% - 10px);
              flex-basis: calc(25% - 10px);
          width: calc(25% - 10px); } }
    /* line 66, src/sass/_grid.scss */
    .grid-col--4 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 66, src/sass/_grid.scss */
        .grid-col--4 {
          -ms-flex-preferred-size: calc(33.33333% - 10px);
              flex-basis: calc(33.33333% - 10px);
          width: calc(33.33333% - 10px); } }
    /* line 74, src/sass/_grid.scss */
    .grid-col--5 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 74, src/sass/_grid.scss */
        .grid-col--5 {
          -ms-flex-preferred-size: calc(41.66667% - 10px);
              flex-basis: calc(41.66667% - 10px);
          width: calc(41.66667% - 10px); } }
    /* line 82, src/sass/_grid.scss */
    .grid-col--6 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 82, src/sass/_grid.scss */
        .grid-col--6 {
          -ms-flex-preferred-size: calc(50% - 10px);
              flex-basis: calc(50% - 10px);
          width: calc(50% - 10px); } }
    /* line 90, src/sass/_grid.scss */
    .grid-col--7 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 90, src/sass/_grid.scss */
        .grid-col--7 {
          -ms-flex-preferred-size: calc(58.33333% - 10px);
              flex-basis: calc(58.33333% - 10px);
          width: calc(58.33333% - 10px); } }
    /* line 98, src/sass/_grid.scss */
    .grid-col--8 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 98, src/sass/_grid.scss */
        .grid-col--8 {
          -ms-flex-preferred-size: calc(66.66667% - 10px);
              flex-basis: calc(66.66667% - 10px);
          width: calc(66.66667% - 10px); } }
    /* line 106, src/sass/_grid.scss */
    .grid-col--9 {
      -ms-flex-preferred-size: calc(100% - 10px);
          flex-basis: calc(100% - 10px);
      width: calc(100% - 10px); }
      @media (min-width: 768px) {
        /* line 106, src/sass/_grid.scss */
        .grid-col--9 {
          -ms-flex-preferred-size: calc(75% - 10px);
              flex-basis: calc(75% - 10px);
          width: calc(75% - 10px); } }

/* line 2, src/sass/_edit-mode.scss */
.edit-mode__header {
  background: #FFCC42;
  letter-spacing: 1px;
  opacity: .9;
  padding: 10px 0;
  position: fixed;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 9; }

/* line 16, src/sass/_edit-mode.scss */
.edit-mode__grid {
  display: none;
  left: 50%;
  padding: 0 10px;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 0; }
  @media (min-width: 768px) {
    /* line 16, src/sass/_edit-mode.scss */
    .edit-mode__grid {
      display: block; } }
  @media (min-width: 1440px) {
    /* line 16, src/sass/_edit-mode.scss */
    .edit-mode__grid {
      padding: 0; } }
  /* line 34, src/sass/_edit-mode.scss */
  .edit-mode__grid .grid-col {
    background: #FFCC42;
    height: 100vh;
    max-height: none;
    opacity: .2;
    pointer-events: none; }
