.component-hero {
	background-size: cover;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
	text-align: center;
  width: 100%;

  .headline,
  .subheadline {
    color: #fff;
    margin: 10px 0;
    text-shadow: 1px 1px 2px #333;
  }
}