<div class="edit-mode__grid container">
  <div class="grid">
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--1"></div>
  </div>
</div>
