<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/components.css">


    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,700;0,900;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral:400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {{#if edit_mode}}
      {{> edit-mode-header}}
    {{/if}}

    {{#block "content"}}{{/block}}

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
  </body>
</html>