{{#extend "layout"}}
  {{#content "content"}}
    <div class="page gallery">
      {{#if edit_mode}}
        {{> edit-mode-grid}}
      {{/if}}
      {{#block "image-gallery"}}{{/block}}
    </div>
  {{/content}}
{{/extend}}
