{{#extend "page-gallery"}}
  {{#content "image-gallery"}}
    <div class="container">

      {{#if s3Meta.dubai_meta.hero}}
        <div class="component-hero"
            style="background-image: url({{lookup (lookup ../s3.dubai s3Meta.dubai_meta.hero) 'imagePath'}})">
          <h1 class="headline">{{s3Meta.dubai_meta.headline}}</h1>
          <h2 class="subheadline">{{s3Meta.dubai_meta.subhead}}</h2>
        </div>
      {{else}}
          <h1 class="headline">{{s3Meta.dubai_meta.headline}}</h1>
          <h2 class="subheadline">{{s3Meta.dubai_meta.subhead}}</h2>
      {{/if}}

      <div class="grid">
        {{#each s3.dubai}}
          <div class="grid-col grid-col--{{#if (lookup (lookup ../s3Meta.dubai @key) 'imageFormat') }}{{lookup (lookup ../s3Meta.dubai @key) 'imageFormat' }}{{else}}4{{/if}}">
            <img src="{{this.imagePath}}" />
          </div>
        {{/each}}
      </div>
    </div>
  {{/content}}
{{/extend}}
